<html>
    <body>
        <form action="/produtos" method="POST">
            <div>
                <label>Título:</label>
                <input type="text" id="titulo" name="titulo" placeholder="Titulo" />
            </div>
            <div>
                <label>Preço:</label>
                <input type="text" id="preco" name="preco" placeholder="Preço" />
            </div>
            <div>
                <label>Descrição:</label>
                <input type="text" id="descricao" name="descricao" placeholder="Descrição" />
            </div>

            <input type="submit" value="Gravar" />
        </form>
    </body>
</html>